* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Lato, sans-serif;
    background: #eee;
}

.container {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 0.3em;
    padding: 2em;
    max-width: 600px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.card > * {
    padding: 0.5em;
}

.card > ul {
    margin-left: 2em;
}