@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 14px/1.5 'Poppins', sans-serif;
}
a, p, h1 {
    font: inherit;
}
a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    max-width: 1350px;
    margin: 50px auto;
    padding: 20px 60px;
    display: flex;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.media img {
    width: 450px;
    height: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.article header {
    display: flex;
}
.greenLine {
    width: 5px;
    background: #7ab730;
}
.article header .main {
    background: #f3f3f3;
    width: 100%;
    padding: 30px 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.article header span {
    font-size: 10px;
    color: #7ab730;
}
.article header h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2em;
}
.separator {
    margin: 0 25px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
}
main {
    background: #f3f3f3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttons {
    display: flex;
}
.btn {
    background: #f0f0f0;
    color: #7ab730;
    padding: 5px 0;
    width: 50%;
    text-align: center;
}
.btn.mission {
    background: #7ab730;
    color: #f3f3f3;
}
main p {
    font-size: 12px;
    opacity: 0.7;
}