body {
    font: 14px/1.5 Lato, sans-serif;
}

.container {
    padding: 1.5em 3em;
}

.accordion {
    border: 0.5px solid lightgray;
    border-radius: 0.2em;
}

.accordion details + details {
    border-top: 0.5px solid lightgray
}

.accordion details summary {
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
}

p {
    padding: 0 1em 2em 1em;
}